@use "../../styles/variables" as *;

.wrapper {
  padding: 60px 0;
}

.box {
  background-color: $black;
  border-bottom: 3px solid $accent-red-error;
  margin-bottom: 40px;
}

.logo {
  height: auto;
  font-size: 48px;
  font-family: $inter-bold;
  line-height: initial;
}

.dot {
  color: $accent-red;
}
