@use "../../styles/variables" as *;

.box {
  background-color: $black;
  border-bottom: 3px solid $accent-red-error;

  .wrapper {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  color: $white;
}
