@use "./../../../styles/variables" as *;

.btn {
  color: $white;
  background-color: $black;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 47px;
  font-weight: bold;
  transition: all 0.8s;

  &:hover {
    background-color: $light-gray;
    color: $black;
  }

  &:disabled {
    opacity: 0.5;
  }
}
