@use "../../styles/variables" as *;

.wrapper {
  display: flex;
  padding: 60px 10px 10px 20px;
  flex-direction: column;
}

.contacts {
  flex-direction: column;
  margin-bottom: 10px;
}

.contacts,
.auth {
  color: $white;
  display: flex;
  gap: 10px;

  .contact {
    display: inherit;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }
}

.logout {
  max-width: 50px;
  font-size: 12px;
  height: 30px;
}

@media screen and (width >= 920px) {
  .wrapper {
    justify-content: space-between;
    padding: 5px 0;
    flex-direction: row;
  }

  .contacts {
    flex-direction: row;
    margin-bottom: 0;
  }
}
